<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
   <!-- robot name parameter -->
   <xacro:arg name="name" default="ur"/>
   <!-- import main macro -->
   <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
   <xacro:include filename="$(find ur_description)/urdf/robotiq_hand_e_macro.xacro"/>

   <!-- parameters -->
   <xacro:arg name="model" default="ur5" />
   <xacro:arg name="prefix" default="ur5_" />
   <xacro:arg name="connected_to" default="" />
   <xacro:arg name="robot_ip" default="" />
   <xacro:arg name="acceleration_limit" default="30.0" />
   <xacro:arg name="transmission_hw_interface" default=""/>
   <xacro:arg name="safety_limits" default="false"/>
   <xacro:arg name="safety_pos_margin" default="0.15"/>
   <xacro:arg name="safety_k_position" default="20"/>
   <!-- ros2_control related parameters -->
   <xacro:arg name="use_fake_hardware" default="false" />
   <xacro:arg name="use_tcp_fts_sensor" default="false" />
   <xacro:arg name="fake_sensor_commands" default="false" />
   <xacro:arg name="robotiq_hand_e" default="false" />

   <!-- locate configuration files -->
   <xacro:property name="initial_positions_file" default="$(find ur_description)/config/initial_positions.yaml"/>
   <xacro:property name="model_config_path" default="$(find ur_description)/config/$(arg model)"/>

   <!-- arm -->
   <xacro:ur_robot
     prefix="$(arg prefix)"
     robot_ip="$(arg robot_ip)"
     connected_to="$(arg connected_to)"
     acceleration_limit="$(arg acceleration_limit)"
     joint_limits_parameters_file="${model_config_path}/joint_limits.yaml"
     kinematics_parameters_file="${model_config_path}/default_kinematics.yaml"
     physical_parameters_file="${model_config_path}/physical_parameters.yaml"
     visual_parameters_file="${model_config_path}/visual_parameters.yaml"
     transmission_hw_interface="$(arg transmission_hw_interface)"
     safety_limits="$(arg safety_limits)"
     safety_pos_margin="$(arg safety_pos_margin)"
     safety_k_position="$(arg safety_k_position)"
     use_fake_hardware="$(arg use_fake_hardware)"
     fake_sensor_commands="$(arg fake_sensor_commands)"
     initial_positions="${load_yaml(initial_positions_file)}" />

   <xacro:if value="$(arg robotiq_hand_e)">
     <xacro:robotiq_hand_e attached_to="$(arg prefix)tool0" />
   </xacro:if>
</robot>
